@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
  .heros {
    position: relative;
    background: url("../src//assets/56256.png") no-repeat center/cover;
  }

  .heros .overlay p.text {
    width: 300px;
  }
}

.hamburger-slice {
  @apply w-full h-1 bg-gray-500 rounded-full transition duration-500 ease-in-out;
}

.item-list{
  @apply w-full px-2.5 mb-5 transition duration-300 hover:shadow-lg hover:border-transparent
}

@media(max-width: 640px){
  .btn-more{
    /* position: relative;  */
    left: 16px;
  }
} 
@media(max-width: 768px){
  .btn-more{
    position: relative; 
    left: 16px;
  }
} 

